<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="module23" level="INFO"/>
  <logger name="module23.service" level="INFO"/>

  <logger name="org.hibernate" level="WARN"/>
  <logger name="org.testcontainers" level="INFO"/>

  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
